
<div class="container"
    fxLayout="column"
    fxLayoutGap="5px">

<div fxFlex>
    <div>
        <h3>Mapa </h3>
        <hr>
    </div>
</div>


<div fxFlex>
    <div>
        


<agm-map 
    [latitude]="latPer" 
    [longitude]="lngPer" 
    [zoom]="zoom">

    <agm-polyline>
        <agm-polyline-point *ngFor= "let a of map"
            [latitude]="a.lat"
            [longitude]="a.lng">
        </agm-polyline-point> 
    </agm-polyline>
   
    <agm-marker [latitude] = "latPer" [longitude]="lngPer" [label] = "labelPer"></agm-marker>
    <agm-marker [latitude] = "busLocationlat()" [longitude]="busLocationlng()" [label] = "labelBus"></agm-marker> 
   
    <agm-marker [latitude] = "ParaderoLat1" [longitude]="ParaderoLng1" [label] = "labelParadero1"></agm-marker>
     
    <agm-marker [latitude] = "ParaderoLat2" [longitude]="ParaderoLng2" [label] = "labelParadero2"></agm-marker> 
    <agm-marker [latitude] = "ParaderoLat3" [longitude]="ParaderoLng3" [label] = "labelParadero3"></agm-marker>
    
   
</agm-map>
<div fxLayout="row">
    <!--
<mat-card class = "Show Time">
    <h3>Tiempo </h3>
    <mat-card-content *ngFor="let bus of paraderos" >
    
    {{bus.nombre}}
    <br>
     {{getTime([busLocationlat(),busLocationlng()],[bus.pos[0],bus.pos[1]])}}
    </mat-card-content>
</mat-card>
-->


</div>

<div fxLayout="row">
<mat-table [dataSource]="paraderos" class="mat-elevation-z8" matTableExporter #exporter="matTableExporter"> 
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>TIEMPO</th>
        
        <td mat-cell *matCellDef="let a">
            {{a.nombre}}
            {{getTime([busLocationlat(),busLocationlng()],[a.pos[0],a.pos[1]])}}</td>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

</div>
<button id="export" mat-raised-button color="primary" 
          (click)="exporter.exportTable('json')">Export To json</button>
<button id="export" mat-raised-button color="primary" 
          (click)="exporter.exportTable('txt')">Export To txt</button>
        </div>
    </div>