<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">

    <div fxFlex>
        <div>
            <h3>Lista de Buses</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <mat-grid-list cols="2" rowHeight="200px">
            <mat-grid-tile *ngFor="let bus of buses">
                <img height="200px" src={{bus.image}} alt={{bus.name}}>
               <mat-grid-tile-footer>
                    <h2>{{bus.name | uppercase}}</h2>
                </mat-grid-tile-footer>  
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let bus of buses">
                <img height="200px" src={{bus.rute}} alt={{bus.name}}>
               <mat-grid-tile-footer>
                    <h2>RUTA</h2>
                </mat-grid-tile-footer>  
            </mat-grid-tile>
        </mat-grid-list>
    </div>
<!--
    <div fxFlex *ngIf="selectedBus">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{selectedBus.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
           <img mat-card-image src={{selectedBus.rute}} alt={{selectedBus.name}}> 
            <mat-card-content>
                <p>
                    Probando
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Ver Mapa</button>
                <button mat-button>Tiempo Estimado</button>
            </mat-card-actions>
        </mat-card>
    
    </div>
-->
   
        


</div>